

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

#logo{
    height: 40px;
}

header nav img{
    height: 25px;
}

body{
    margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 , p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(205, 23, 32);
    margin: 6px 0;
}

header{
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.104);
    padding: 10px 0;
    margin-bottom: 10px;
}

#cuenta-carrito{
    color: beige;
    position: absolute;
    background-color: rgb(205, 23, 32);
    border-radius: 100%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
    /* margin-bottom: 15px; */
  }

footer{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(205, 23, 32);
    margin-top: auto;
    min-height: 100px;
    box-shadow: 0 -3px 5px rgb(0, 0, 0, 0.104);
    display: flex;
    justify-content: center;
    align-items: center;
}

.escondido{
    display: none;
}


